body {
  font-family: Helvetica;
}

header {
  margin: 1em;
}

body.profitable h1 { background: green; }
body.profitable section { border-color: green; }
body.not-profitable h1 { background: red; }
body.not-profitable section { border-color: red; }

h1 {
  padding: 0.25em 0.5em;
}

main {
  display: flex;
}

section {
  flex-grow: 1;
  border: 1px solid;
  margin: 1em 0.5em;
  padding: 1em;
}

section#menu {
  flex-grow: 3
}

section:first-of-type {
  margin-left: 1em;
}

section:last-of-type {
  margin-right: 1em;
}
